h1{
    text-align: center;
    padding: 20px;
}
button, input {
    float:right;
    margin: 5px;
    padding: 5px;
    
}
.container {
    height: 1000px;
    width: 1000px;
}
.col-sm-12 {
    background-color: pink;
}

body {
   background-color:  lightblue;
}
#dayWeather, #city {
    font-size: 35px;
    font-family: tahoma;
    margin: 10px;
    text-align: center;
    
    
}